---
import Header from "../components/Header";
import SocialMediaFooter from "../components/SocialMediaFooter";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <main>
    <h1 class="mt-32 text-center">About</h1>
    <section
      class="pt-10 pb-40 px-10 lg:px-20 lg:pt-0 text-center lg:text-left mx-auto w-full flex justify-center items-center"
    >
      <div class="flex flex-col gap-10 lg:block">
        <article>
          <h2>How I Found Web Dev</h2>
          <p>
            After a year of the Computer Information Systems Program at UFV, I knew I had found my
            passion. Web Development. It started out as just a hobby as UFV taught me a lot more
            about hardware than they did software. During this year I focused a lot of my attention
            on my foundational programming skills by myself. This is why I consider myself to be a
            Self Taught Web Developer.
          </p>
        </article>
        <article>
          <h2>Learning by Building</h2>
          <p>
            I would identify myself as a Self Taught Developer. However, I have found that learning
            through tutorials is not a productive way to grow as a developer. Instead, I have spent
            a lot of time improving on my ability to effectively read documentation to solve
            problems when I run into them. I firmly believe that in order to grow in this industry,
            you need to jump right into the action and start building.
          </p>
        </article>
      </div>
      <img src="bitmoji-full.webp" alt="Large Bitmoji Avatar." class="hidden lg:block w-1/4" />
    </section>
  </main>
  <SocialMediaFooter client:load />
</Layout>
<style>
  h2 {
    @apply text-2xl lg:text-3xl font-bold py-5;
  }
  p {
    @apply text-lg font-light;
  }
</style>
