---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import SocialMediaFooter from "../components/SocialMediaFooter";
---

<Layout>
  <Header />
  <main class="w-3/4 mx-auto h-screen flex flex-col justify-center items-center gap-5 text-center">
    <h1 class="text-5xl font-bold">Joshua Borseth</h1>
    <h2 class="text-3xl font-light">Web Developer</h2>
    <img
      src="/bitmoji.png"
      alt="Joshua Bitmoji Avatar"
      class="rounded-full border-2 border-secondary w-40"
    />
    <p class="text-center text-xl font-light">
      A passion for building user oriented, scalable, type safe applications.
    </p>
  </main>
  <SocialMediaFooter />
</Layout>
