---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
---

<Layout>
  <header class="bg-red-500"><Header /></header>
  <main></main>
  <footer></footer>
</Layout>
