---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header";
import SocialMediaFooter from "../components/SocialMediaFooter";
import Skills from "../components/Skills";
import Tech from "../components/Tech";
---

<Layout>
  <Header />
  <main class="text-center w-3/4 mx-auto -mt-8 md:mt-0">
    <section class="h-screen">
      <h1 class="text-3xl lg:text-5xl font-bold">Josh Borseth</h1>
      <h2 class="text-xl lg:text-2xl font-light">Web Developer</h2>
      <img
        src="/bitmoji.png"
        alt="Joshua Bitmoji Avatar"
        class="rounded-full border-2 border-secondary w-40"
      />
      <p class="text-center text-lg lg:text-xl font-light">
        A passion for building user oriented, scalable, type safe applications.
      </p>
      <Skills client:load />
    </section>
    <section class="w-full lg:w-1/2 mx-auto py-20">
      <h2 class="text-3xl lg:text-5xl font-bold py-5">Eager To Learn</h2>
      <p class="text-lg lg:text-xl font-light">
        I fell in love with code from the moment I started. I am constantly looking to learn new
        technologies and improve my skills. I think that a developer's greatest asset is their
        ability to learn quickly and find answers. Below are some of my favourite technologies that
        I have tried recently.
      </p>
      <Tech client:load />
    </section>
  </main>
  <SocialMediaFooter client:load />
</Layout>
<style>
  section {
    @apply flex flex-col justify-center items-center gap-5;
  }
</style>
