---
import Header from "../components/Header";
import SocialMediaFooter from "../components/SocialMediaFooter";
import Layout from "../layouts/Layout.astro";
import ProjectArticle from "../components/ProjectArticle";
---

<Layout>
  <Header />
  <main>
    <h1 class="mt-32 mb-20 text-center">Technical Projects</h1>
    <section class="flex items-center flex-col gap-32 pb-40">
      <ProjectArticle
        img="/movie-db.png"
        imgAlt="The landing page of JB Movies."
        title="Movie Database Application"
        description="Movie Database created using the TMDB API and the T3 Stack. A stack that allows for end-to-end fullstack typesafety."
      />
      <ProjectArticle
        img="/chess.png"
        imgAlt="Chess game being played."
        title="Chess Game"
        description="Chess game created using vanilla javascript. The game is fully playable and uses no external libraries. This project was all about getting better at Javascript specifically."
      />

      <ProjectArticle
        img="/portfolio.png"
        imgAlt="Portfolio Website landing page."
        title="Portfolio Website"
        description="Portfolio website created using Astro. A project I created to showcase my skills and show I am eager to try new things and learn."
      />
      <ProjectArticle
        img="/randomizer.png"
        imgAlt="Randomizer application spinning the wheel."
        title="Randomizer"
        description="Simple Randomizer application created using React, Typescript, and Framer Motion. This project was created to help showcase some of my skills."
      />
    </section>
  </main>
  <SocialMediaFooter client:load />
</Layout>
