<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Josh Borseth | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="mask-icon" href="/favicon/safari-pinned-tab.svg" color="#000000" />
    <meta name="msapplication-TileColor" content="#da532c" />
  </head>
  <body class="bg-primary text-secondary">
    <slot />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;700;900&display=swap");
      html {
        font-family: "M PLUS Rounded 1c", sans-serif;
        @apply bg-primary;
      }
    </style>
  </body>
</html>
