<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Joshua Borseth | Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="bg-red-500">
    <slot />
  </body>
</html>
